--- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar

--- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

--- Java ---
*.class
*.log
*.ctxt

--- Інші IDE ---
.classpath
.project
.settings/
.vscode/
bin/

--- OS ---
.DS_Store
Thumbs.db